<?xml version="1.0"?>
<opencv_storage>
<Camera_Settings>
  <Brightness>30</Brightness>
  <Saturation>0</Saturation>
  <Exposure>-11</Exposure>
  <Contrast>0</Contrast></Camera_Settings>
<Cut_Frame_Points>
  <X>84</X>
  <Y>57</Y>
  <Width>486</Width>
  <Height>378</Height></Cut_Frame_Points>
<Blue>
  <Red_Max>52</Red_Max>
  <Red_Min>11</Red_Min>
  <Green_Max>50</Green_Max>
  <Green_Min>27</Green_Min>
  <Blue_Max>77</Blue_Max>
  <Blue_Min>43</Blue_Min></Blue>
<Yellow>
  <Red_Max>157</Red_Max>
  <Red_Min>115</Red_Min>
  <Green_Max>143</Green_Max>
  <Green_Min>121</Green_Min>
  <Blue_Max>74</Blue_Max>
  <Blue_Min>45</Blue_Min></Yellow>
<Orange>
  <Red_Max>170</Red_Max>
  <Red_Min>132</Red_Min>
  <Green_Max>115</Green_Max>
  <Green_Min>53</Green_Min>
  <Blue_Max>52</Blue_Max>
  <Blue_Min>24</Blue_Min></Orange>
<Green>
  <Red_Max>68</Red_Max>
  <Red_Min>45</Red_Min>
  <Green_Max>117</Green_Max>
  <Green_Min>69</Green_Min>
  <Blue_Max>60</Blue_Max>
  <Blue_Min>33</Blue_Min></Green>
<Red>
  <Red_Max>130</Red_Max>
  <Red_Min>93</Red_Min>
  <Green_Max>81</Green_Max>
  <Green_Min>51</Green_Min>
  <Blue_Max>54</Blue_Max>
  <Blue_Min>28</Blue_Min></Red>
<Magenta>
  <Red_Max>134</Red_Max>
  <Red_Min>100</Red_Min>
  <Green_Max>81</Green_Max>
  <Green_Min>58</Green_Min>
  <Blue_Max>75</Blue_Max>
  <Blue_Min>49</Blue_Min></Magenta>
<Mascara>
  <Format>1</Format>
  <Size>6</Size>
  <Size_close>6</Size_close></Mascara>
<Resolution>
  <Width>640</Width>
  <index>1</index>
  <Height>480</Height></Resolution>
<Variaveis>
  <ftop>0</ftop>
  <fbot>0</fbot>
  <gtopy>0</gtopy>
  <gboty>0</gboty>
  <fleftx>1</fleftx>
  <frightx>1</frightx>
  <gleft>1</gleft>
  <gright>1</gright>
  <area_left>1</area_left>
  <area_right>1</area_right>
  <lgoleiro>1</lgoleiro>
  <lzagueiro>1</lzagueiro>
  <area_topy>0</area_topy>
  <area_boty>0</area_boty>
  <p_area_b>0</p_area_b>
  <p_area_t>0</p_area_t>
  <max_linha>378</max_linha>
  <max_coluna>486</max_coluna></Variaveis>
<Parametros>
  <Smin>0</Smin>
  <Smax>200</Smax>
  <S_Enable>1</S_Enable>
  <Bmin>30</Bmin>
  <Bmax>255</Bmax>
  <B_Enable>1</B_Enable>
  <Cmin>0</Cmin>
  <Cmax>10</Cmax>
  <C_Enable>1</C_Enable>
  <Emin>-11</Emin>
  <Emax>1</Emax>
  <E_Enable>1</E_Enable>
  <index_max>7</index_max></Parametros>
</opencv_storage>
